
#technologies{
  justify-content: center;
  margin-bottom: 2.83rem;
}

.project {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;

  &:nth-child(even) {
    color: $primary-color;
    background: $white;

    .project-button {
      @extend .btn-clear--primary;
    }
  }

  &:nth-child(odd) {
    color: $white;
    background: $primary-color;

    .project-button {
      @extend .btn-clear--white;
    }

    > div:first-child {
      order: 2;
    }
  }
  h2{
    font-weight: normal;
    width: 100%;
    color: $slate;
    text-align:center;
  }

}

.technology {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 200px;

    h3{
      font-weight: normal;
      color: $slate;
      margin-top: 0px;
    }

    span{
      align-self:flex-start;
      color: $white;
      background-color: $primary-color;
      padding: .2rem 1rem;
      box-shadow: 1px 1px 1px #ccc;
      margin-bottom: 0.5rem;
    }
}

.project-description,
.project-image-container {
  @include tablet {
    padding: 1rem;
  };

  @include tablet-up {
    flex: 50%;
  }

  @include desktop {
    padding: 2rem 4rem 3rem;
  };
}

.project-image-container {
  position: relative;
  display: none;

  @include tablet-up {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tech {
  font-weight: 700;
}

%center--absolute {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%center--horizontal {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.md-iphone-5 {
  position: absolute;
  left: 0;
  font-size: 0.5rem;
  top: 0;

  .md-screen {
    background-color: transparent;
  }
}

.md-macbook-pro {
  @include tablet {
    left: initial;
  }

  @include desktop {
      margin: auto;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
  }

  font-size: 9px;
}

.md-imac {
  margin: auto;
  position: absolute;
  top:1.5rem;
  right: 2rem;
  font-size: 7px;
}

